body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

#addTaskbtn{
  background-color: rgb(112, 206, 112);
}

#modal {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  padding: 1.3rem;
  height: 300px;
  top: 10%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
 
}
#taskTitle, #taskDescription, #dueDate {
  margin-bottom: 10px;
}

#contenedor{
  align-items: center;
}